.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html,
body {
  height: 100%;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0967e2, #a70505);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0967e2, #a70505); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /*background-color: #333;*/
  /*background-image: url('./img/images/background.jpg');*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /*background-repeat: no-repeat;*/
}

div.title {
  text-align: center;
  vertical-align: middle;
  color: white;
}

.cards {
  opacity: .8;
}

.page {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

.page-body {
  padding-top: 0px;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 143px; 
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 64px;
  z-index: 53;
}

.footer-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  z-index: 52;
  border: none;
  background: -webkit-linear-gradient(to left, #0967e2, #a70505);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0967e2, #a70505); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
