/*
 * From boostrap cover.css
 */

/* Links */
a,
a:focus,
a:hover {
  color: #ffffff;
}

.page-title {
  color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 5px;
  margin-top: 35px;
  text-align: center;
  vertical-align: middle;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 4;
  background: -webkit-linear-gradient(to left, #0967e2, #a70505);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0967e2, #a70505);
}

/* Model page grid */
.instance-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-card {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  position: relative;
  opacity: 0.7;
  width: 75%;
}

.filter_pagination-bar {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  vertical-align: middle;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 80px;
  z-index: 5;
}

/* .instance-search {
  position: relative;
  opacity: 0.7;
  width: 25%;
  background-color: white;
}

div.instance-search input {
  color: #5a6872;
}

div.instance-search svg {
  fill: #5a6872;
} */

/* Navbar */
.navbar-top {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: inherit;
  vertical-align: middle;
  border-color: transparent;
}

.navbar-tabs {
  position: relative;
  margin-left: 0px;
  color: white;
  float: right;
}

.navbar-title {
  position: relative;
  align-self: flex-start;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
  font-size: 1.5rem;
}

.navbar-title a {
  text-decoration: none;
}

.bx--tabs__nav-item--selected {
  border-bottom: 2px solid white;
}

/* Filtering components */
.filter-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.modal-trigger-btn {
  background-color: white;
  border-left: 1px solid #dfe3e6;
  color: #5a6872;
  opacity: 0.7;
}

.modal-trigger-btn:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.modal-trigger-btn:focus {
  background-color: transparent;
  color: white;
}

.filter-options {
  justify-content: space-around;
}

/* Home Page */
.section {
  color: white;
  display: flex;
  position: relative;
  z-index: 2;
  height: 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-text{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  opacity: 1;
  position: absolute;
  font-size: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.3);
}

#bg-video {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  object-fit: fill;
}

.bg-0{
  background-color: black;
  /* background-image: url("../assets/images/head.jpg"); */
}

.bg-1{
  background-image: url("../assets/images/pill.jpeg");
}

.bg-2{
  background-image: url("../assets/images/place.jpg");
}

.bg-3 {
  background-image: url("../assets/images/helping.jpeg");
}

/* Visualizations */
.vis-switcher {
  margin-top: 1%;
  margin-bottom: 3%;
  justify-content: center;
}

.vis-container {
  background-color:  rgb(255,255,255,0.8);
  justify-items: center;
  border-radius: 10px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.vis-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bx--content-switcher-btn {
  color: white;
  border: 1px solid white;
}

.bx--content-switcher-btn:hover, 
.bx--content-switcher-btn.bx--content-switcher--selected:hover, 
.bx--content-switcher-btn.bx--content-switcher--selected:focus {
  color: black;
  background-color: white;
}

.bx--content-switcher-btn.bx--content-switcher--selected, 
.bx--content-switcher-btn:focus {
  color: white;
  background-color: rgb(255,255,255, 0.25);
  border-color: white;
}

.bx--content-switcher-btn:not(:first-of-type) {
  border-left: 1px solid white;
}

.bx--dropdown {
  background-color: transparent;
  box-shadow: none;
}

.bx--list-box__menu-icon{
  padding: 0
}

.bx--list-box__label{
  color: white;
}

.bx--list-box__menu-icon > svg{
  fill: white;
}

.bar{
  fill: #0967e2;
}

.bar:hover{
  fill: #a70505;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
